.button
{
-fx-background-color : #8e44ad;
-fx-text-fill : #e7e5e5;
}
.button:hover{
-fx-background-color : #9b59b6;
}
.button:pressed
{
-fx-background-color : #9b59b6;
}
.progress-bar
{
}

.progress-bar > .bar {
  -fx-background-color: #e74c3c;
  -fx-background-insets: 6 3 6 3;
}
.progress-bar > .track {
    -fx-background-color: #1e1e1e;
}


.scroll-pane {
    -fx-background-color: #02030A;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: #1e1e1e;
    -fx-border-color: transparent;
    -fx-background-radius: 0.2em;
}

.combobox {
    -fx-background-color : #1e1e1e;
}

.combobox > .cell {
    -fx-text-fill: white;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #10165F;
    -fx-background-radius: 0.5em;
}
.image-view {
    -fx-effect: dropshadow(gaussian, #1e1e1e, 5, 30, 0, 0);
}

.slider {
    -fx-background-color:  #02030A;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}
